header
  .logo
    include ../icons/logo
  
  button.btn.btn--inline.btn__filter#btn-filter
    include ../icons/filter
    include ../icons/close
    | Filtrar
  
  include ./filters

  button.btn.btn--block.btn__login#btn-login Entrar
    include ../icons/user
