.btn {
  align-items: center;
  background: transparent;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: rem(15);

  @media screen and (max-width: $bp-tblt-mob) {
    @include fluid-property("height", 70px, 104px);
  }

  &--block {
    border: 1px solid var(--border-color);
    justify-content: space-between;
    padding: rem(18) rem(24);
    width: rem(160);

    > svg {
      width: rem(27);
    }
  }

  &--inline {
    border: none;
    padding: 0 0 0 rem(35);
    position: relative;

    > svg {
      height: rem(12);
      left: 0;
      position: absolute;
    }
  }

  &__filter,
  &__login {
    > svg {
      @include showOnDesktop;
    }
  }

  &__filter {
    @include resetOrderAfterMobile;
    grid-column: 3 / span 2;
    order: 2;

    @media screen and (min-width: $bp-mob-tblt) and (max-width: $bp-tblt-dsk) {
      grid-column: 2 / span 4;
      grid-row: 1 / span 1;
      z-index: 1;
    }

    .icon--close {
      opacity: 0;
      transition: opacity 0.3s ease-out;
      visibility: hidden;
    }
    .icon--filter {
      opacity: 1;
      transition: opacity 0.3s ease-out;
      visibility: visible;
    }

    &--active {
      @media screen and (min-width: $bp-mob-tblt) and (max-width: $bp-tblt-dsk) {
        pointer-events: none;
      }

      .icon--close {
        opacity: 1;
        visibility: visible;
      }
      .icon--filter {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__login {
    @include resetOrderAfterMobile;
    border: 0;
    justify-self: end;
    margin: 0;
    order: 3;
    padding: 0;
    width: auto;

    @media screen and (max-width: $bp-tblt-mob) {
      margin-left: rem(30);
      margin-right: rem(15);
    }
    @media screen and (min-width: $bp-mob-tblt) {
      grid-column: 6 / span 1;
      grid-row: 1 / span 1;
    }
    @media screen and (min-width: $bp-tblt-dsk) {
      grid-column: 11 / span 2;
      margin-right: 0;
      width: rem(160);
    }
    @media screen and (min-width: $bp-tblt-dsk) {
      border: 1px solid var(--border-color);
      padding: rem(18) rem(24);
      width: rem(160);
    }
  }
}
