<svg aria-hidden="true" class="icon--close" focusable="false" role="img" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
  <polygon points="6.42 5.5 11 10.08 10.08 11 5.5 6.42 0.92 11 0 10.08 4.58 5.5 0 0.92 0.92 0 5.5 4.58 10.08 0 11 0.92 6.42 5.5"/>
</svg>
