.gameboy__wrapper
  .gameboy__proportion
    .gameboy
      .gameboy__glass
      .gameboy__control
        .gameboy__control-direction
        .gameboy__control-button.gameboy__control-button--a
        .gameboy__control-button.gameboy__control-button--b
      .gameboy__pills
        .gameboy__pill
        .gameboy__pill
