template#information-template
  h1.information-title#information-title
  .accordion
    ul.information-accordion#information-accordion(aria-label="Accordion Control Group Buttons")

template#accordion-item
  li
    button
    div

.information
  #information
  button.btn.btn--block Comprar
    include ../icons/arrow-right